---

collections: []

roles:

  - name: deitkrachten.package
    src: https://github.com/de-it-krachten/ansible-role-package.git
    scm: git
    # version: main
    version: dev

  - name: deitkrachten.rootca
    src: https://github.com/de-it-krachten/ansible-role-rootca.git
    scm: git
    # version: main
    version: dev

  - name: deitkrachten.showinfo
    src: https://github.com/de-it-krachten/ansible-role-showinfo.git
    scm: git
    # version: main
    version: dev
