---

- name: deitkrachten.package
  src: https://github.com/de-it-krachten/ansible-role-package.git
  scm: git
  version: main

- name: deitkrachten.rootca
  src: https://github.com/de-it-krachten/ansible-role-rootca.git
  scm: git
  version: main
