---

- name: deitkrachten.centos2rocky
  src: https://github.com/de-it-krachten/ansible-role-centos2rocky.git
  scm: git
  version: dev

- name: deitkrachten.package
  src: https://github.com/de-it-krachten/ansible-role-package.git
  scm: git
  version: main
