# Supported platforms
platforms:
  rhel7:
    ci: false
    supported: false
  rhel8:
    ci: false
    supported: true
  rhel9:
    ci: false
    supported: true
  rhel10:
    ci: false
    supported: true
  centos7:
    ci: false
    supported: false
  centos8:
    ci: false
    supported: false
  centos8s:
    ci: false
    supported: false
  centos9s:
    ci: false
    supported: false
  centos10s:
    ci: false
    supported: false
  rockylinux8:
    ci: false
    supported: true
  rockylinux9:
    ci: false
    supported: true
  rockylinux10:
    ci: false
    supported: true
  oraclelinux8:
    ci: false
    supported: true
  oraclelinux9:
    ci: false
    supported: true
  oraclelinux10:
    ci: false
    supported: true
  almalinux8:
    ci: false
    supported: true
  almalinux9:
    ci: false
    supported: true
  almalinux10:
    ci: false
    supported: true
  sles15:
    ci: false
    supported: true
  opensuse15:
    ci: false
    supported: true
  debian10:
    ci: false
    supported: true
  debian11:
    ci: false
    supported: true
  debian12:
    ci: false
    supported: true
  debian13:
    ci: false
    supported: true
  ubuntu1804:
    ci: false
    supported: true
  ubuntu2004:
    ci: false
    supported: true
  ubuntu2204:
    ci: false
    supported: true
  ubuntu2404:
    ci: false
    supported: true
  fedora41:
    ci: false
    supported: true
  fedora42:
    ci: false
    supported: true
  alpine3:
    ci: false
    supported: true
  docker:
    ci: true
    supported: true
  win2012r2:
    ci: false
    supported: false
  win2016:
    ci: false
    supported: false
  win2019:
    ci: false
    supported: false
  win2022:
    ci: false
    supported: false
  win2025:
    ci: false
    supported: false
