---

<% set snippet_path = 'snippets/' %>

name: CI

on:
  pull_request:
  push:
    branches-ignore:
      - master
      - main
  workflow_dispatch:
  schedule:
    - cron: "0 7 * * 1"

defaults:
  run:
    working-directory: "<= github.owner =>/<= github.repo =>"

<% if github.vars is defined %>
env:
<% for key, value in github['vars'].items() %>
  <= key =>: "<= value =>"
<% endfor %>
<% endif %>

jobs:

<% include snippet_path + 'ci.yml.j2' %>

<% if github.molecule | bool %>

<% include snippet_path + 'molecule1.yml.j2' %>

<% if molecule.phase1 | default([]) | length > 0 %>

<% include snippet_path + 'molecule2.yml.j2' %>

<% endif %>

<% endif %>
