name: Release
on:
  push:
    branches:
      - main
      - master
  workflow_dispatch:
jobs:
  release:
    name: release
    permissions:
      contents: write
      issues: write
      pull-requests: write
      repository-projects: write
    runs-on: ubuntu-latest
    steps:

<% set github_branch_protection = github.branch_protection | default(false) %>
<% if github_branch_protection | bool %>

      - uses: actions/create-github-app-token@v1
        id: app-token
        with:
          app-id: ${{ secrets.<= github.app_id | default('dummy') => }}
          private-key: ${{ secrets.<= github.private_key | default('dummy') => }}

      - uses: actions/checkout@v4
        with:
          token: ${{ steps.app-token.outputs.token }}

<% else %>

      - name: Checkout
        uses: actions/checkout@v4

<% endif %>

      - name: Use Node.js 20
        uses: actions/setup-node@v4
        with:
          node-version: 20

      - name: Install package dependencies
        run: |
          npm i -D semantic-release \
            @semantic-release/commit-analyzer \
            @semantic-release/release-notes-generator \
            @semantic-release/changelog \
            @semantic-release/github \
            @semantic-release/git

      - name: Run semantic release
        run: npx semantic-release
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
