---

<% if molecule['converge']['pre'] is defined %>
- name: Converge pre playbook
  ansible.builtin.import_playbook: <= molecule['converge']['pre'] =>
  when: molecule_converge_pre is undefined or molecule_converge_pre | bool

<% endif %>
- name: Converge
  hosts: all
  become: "<= molecule['converge']['become'] | default('yes') =>"
<% if molecule['converge']['vars'] is defined and molecule['converge']['vars']|length > 0 %>
  vars:
    molecule_driver: "{{ lookup('env', 'MOLECULE_DRIVER_NAME') }}"
<% for key, value in molecule['converge']['vars'].items() %>
<% if value is search('{{') or key is search('_mode') %>
    <= key =>: "<= value =>"
<% else %>
    <= key =>: <= value =>
<% endif %>
<% endfor %>
<% endif %>
<% if molecule['converge']['roles'] is defined and molecule['converge']['roles'] | length > 0 %>
  roles:
<% for item in molecule['converge']['roles'] %>
    - <= item =>
<% endfor %>
<% endif %>
  tasks:
    - name: Include role '<= role =>'
      ansible.builtin.include_role:
        name: <= role =>
<% if molecule['converge']['post'] is defined %>

- name: Converge post playbook
  ansible.builtin.import_playbook: <= molecule['converge']['post'] =>
  when: molecule_converge_post is undefined or molecule_converge_post | bool
<% endif %>
