      - name: Install tools in their virtual environments
        run: |
          set -e
          [[ $(id -un) != root ]] && sudo=sudo
          ansible="${{ matrix.venv }}"
          python=$(which python3)
          export VENV_LIST="yq e2j2 jinjanator $ansible"
          /opt/cicd-tools/python/python-setup-venvs.sh --python=$python --sudo /usr/local/venv

