---

# Generic
generic:
  org: automation
  role: {{ Role }}
  role_short: {{ Role_short }}
  role_description: |
    <put description in .cicd.overwrite>

# Dependencies
dependencies:
  roles: []
  collections: []

# Supported platforms
{% include 'platforms.yml.j2' %}

# List of platform deviations
platforms_overwrite: {}

# Ansible galaxy
galaxy:
  role_name: {{ Role_short }}
  namespace: automation
  description: {{ Role_short }}
  author: Automation team
  company: Gemeente Amsterdam
  license: EUPL-1.2
  min_ansible_version: 2.16
  platforms:
    - name: EL
      versions:
        - 8
  dependencies: []

# Github
github:
  active: true
  molecule: true
  self_hosted: false
  fail_fast: false
  parallel: true
  owner: Automation-Erfpacht
  repo: {{ Role }}
  # For Github with branch protection, we need a Github App that has write permissions
  branch_protection: true
  app_id: APP_BRANCH_BYPASS_ID  # Github secret that holds the app id
  private_key: APP_BRANCH_BYPASS_PRIVATE_KEY  # Github secret that holds app private key
  git_email: automation.erfpacht@amsterdam.nl
  git_name: Automation Erfpacht Bot
  lint_matrix:
    - name: ansible_2.16 # latest version to supports python3.6 (rhel8)
      ansible: "ansible>9,<10"
      ansible_core: "ansible-core>2.16,<2.17"
      ansible_lint: "ansible-lint"
      python: "3.12"
    - name: ansible_2.18
      ansible: "ansible>11,<12"
      ansible_core: "ansible-core>2.18,<2.19"
      ansible_lint: "ansible-lint"
      python: "3.13"

# Gitlab
gitlab:
  active: false

# Azure Devops
ado:
  active: false

# molecule
molecule:
  active: true
  dns_server: false
  drivers:
    - docker
    - vagrant
    - hetznercloud
    - podman
  driver: docker
  converge:
    playbooks: []
    vars: {}
  prepare:
    playbooks: []
    vars:
      systemctl_alternative: false
  requirements:
    roles:
      - name: deitkrachten.docker
        src: https://github.com/de-it-krachten/ansible-role-docker
      - name: deitkrachten.epel
        src: https://github.com/de-it-krachten/ansible-role-epel
      - name: deitkrachten.facts
        src: https://github.com/de-it-krachten/ansible-role-facts
      - name: deitkrachten.firewall
        src: https://github.com/de-it-krachten/ansible-role-firewall
      - name: deitkrachten.firewalld
        src: https://github.com/de-it-krachten/ansible-role-firewalld
      - name: deitkrachten.hosts
        src: https://github.com/de-it-krachten/ansible-role-hosts
      - name: deitkrachten.iptables
        src: https://github.com/de-it-krachten/ansible-role-iptables
      - name: deitkrachten.python
        src: https://github.com/de-it-krachten/ansible-role-python
      - name: deitkrachten.reboot
        src: https://github.com/de-it-krachten/ansible-role-reboot
      - name: deitkrachten.showinfo
        src: https://github.com/de-it-krachten/ansible-role-showinfo
      - name: deitkrachten.ufw
        src: https://github.com/de-it-krachten/ansible-role-ufw
      - name: deitkrachten.unbound
        src: https://github.com/de-it-krachten/ansible-role-unbound
  nodes:
    - name: node1
      groups: []

# templates
ci_templates:
  meta-main.yml:
    src: galaxy/templates/meta-main.yml
    dest: meta/main.yml
  meta-requirements.yml:
    src: galaxy/templates/meta-requirements.yml
    dest: meta/requirements.yml
  yamllint:
    src: yamllint/templates/yamllint
    dest: .yamllint
  ci.yml:
    src: github/templates/ci.yml
    dest: .github/workflows/ci.yml
    when: github_runner_cloud
  ci-self-hosted.yml:
    src: github/templates/ci-self-hosted.yml
    dest: .github/workflows/ci.yml
    when: github_runner_self_hosted
  release.yml:
    src: github/templates/release.yml
    dest: .github/workflows/release.yml
    when: github_runner_cloud
  releaserc.yml:
    src: github/templates/releaserc.yml
    dest: .releaserc.yml
    when: github_runner_cloud
  gitlab-ci.yml:
    src: gitlab/templates/gitlab-ci.yml
    dest: .gitlab-ci.yml
    when: gitlab_active
  azure-pipelines.yml:
    src: ado/templates/azure-pipelines.yml
    dest: azure-pipelines.yml
    when: ado_active
  prepare.yml:
    src: molecule/templates/prepare.yml
    dest: molecule/default/prepare.yml
    when: molecule_active
#  molecule.yml.j2:
#    src: molecule/templates/molecule.yml.j2
#    dest: molecule/default/molecule.yml.j2
#    when: molecule_active
  molecule-docker.yml.j2:
    src: molecule/templates/molecule-docker.yml.j2
    dest: molecule/default/molecule-docker.yml.j2
    when: molecule_active
#  molecule-hetznercloud.yml.j2:
#    src: molecule/templates/molecule-hetznercloud.yml.j2
#    dest: molecule/default/molecule-hetznercloud.yml.j2
#    when: molecule_active
#  molecule-podman.yml.j2:
#    src: molecule/templates/molecule-podman.yml.j2
#    dest: molecule/default/molecule-podman.yml.j2
#    when: molecule_active
#  molecule-vagrant.yml.j2:
#    src: molecule/templates/molecule-vagrant.yml.j2
#    dest: molecule/default/molecule-vagrant.yml.j2
#    when: molecule_active
  molecule-test.yml:
    src: molecule/templates/molecule-test.yml
    dest: molecule/default/molecule-test.yml
    when: molecule_active
  converge.yml:
    src: molecule/templates/converge.yml
    dest: molecule/default/converge.yml
    when: molecule_active
  verify.yml:
    src: molecule/templates/verify.yml
    dest: molecule/default/verify.yml
    force: false
    when: molecule_active
#  requirements.tmpl:
#    src: molecule/templates/requirements.tmpl
#    dest: molecule/default/requirements.tmpl
#    when: molecule_active
  requirements.yml:
    src: molecule/templates/requirements.yml
    dest: molecule/default/requirements.yml
    when: molecule_active
  gitignore:
    src: git/templates/gitignore
    dest: .gitignore
    force: false
  ansible-lint:
    src: ansible-lint/templates/ansible-lint
    dest: .ansible-lint
    # force: no
#  molecule-platforms.yml:
#    src: molecule/templates/molecule-platforms.yml
#    dest: .molecule-platforms.yml
#    force: true
  molecule-platforms-docker.yml:
    src: molecule/templates/molecule-platforms-docker.yml
    dest: molecule/default/.molecule-platforms-docker.yml
    force: true
#  molecule-platforms-hetznercloud.yml:
#    src: molecule/templates/molecule-platforms-hetznercloud.yml
#    dest: molecule/default/.molecule-platforms-hetznercloud.yml
#    force: true
#  molecule-platforms-podman.yml:
#    src: molecule/templates/molecule-platforms-podman.yml
#    dest: molecule/default/.molecule-platforms-podman.yml
#    force: true
#  molecule-platforms-vagrant.yml:
#    src: molecule/templates/molecule-platforms-vagrant.yml
#    dest: molecule/default/.molecule-platforms-vagrant.yml
#    force: true

# Ansible-lint
ansible_lint:
  exclude_paths:
    - molecule/
  skip_list: []
