---

# Generic
generic:
  role: {{ Name }}
  role_short: {{ Name_short }}
  role_description: |
    <basic role description>
  collections: []

# Supported platforms
{%- include 'platforms-{{ Platforms }}.yml.j2' %}

# Molecule
molecule:
  requirements:
    roles_extra: []
